# Structured Query Language Assignment

In this assignment, you are going to practice the concepts of Structured Query Language that you have gained so far. The main objective of the current module is to understand the relational query language, particularly the data maipulation and the basic query structure that will hold for all SQL queries.

**<div style="text-align: right">[TOTAL POINTS: 45]</div>**

### General Overview of the Assignment

In this module's assignment, you will be writing some queries for FuseAI. Weâ€™ll also look at how to search the database for information and manipulate it.

### Recall: Fuse AI Database

Given a detailed description of the FuseAI platform, the following key points were identified:

<hr/>

**Requirement Analysis**

1. Each course can have one or more students and a student can enroll in one or more courses.
2. A course can have many modules. Each module can comprise of many units and a unit can further have many chapters.
3. Each chapter has a quiz to assess the student's understanding of the chapter. 
4. Each unit may or may not have an assignment.
5. For each student enrolled in a particular course they will be given at most one project in each module.

![FuseAI Database](https://drive.google.com/uc?export=view&id=1u-sN7Rcxmf0ea0gEWw5GVMZW4XglZqqJ)


#### Entities and Attributes

| Entity | Attributes | 
| - | - | 
| Student | ***student_id***, student_name, student_email, student_contact, date_joined | 
| Course |  ***course_id***, course_name, course_length | 
| Enrollment | _student_id, course_id_ |
| Module |  ***course_id, module num***, module_name | 
| Unit |  ***course_id, module num, unit_num***, unit_name | 
| Chapter |  ***course_id, module_num, unit_num, chapter_num***, chapter_name, time_allotted | 
| Project |  *course_id, module_num*, project_title, project_marks | 
| Assignment |  *course_id, module_num, unit_num*, assignment_name, assignment_marks | 
| Quiz |  number of question |

#### Connecting to Sqlite Database

In [1]:
#Execute this cell

%load_ext sql

%sql sqlite://

'Connected: @None'


#### Minor Differences between sqlite and SQL

```
* INT  ->  INTEGER
* auto_increment -> AUTOINCREMENT
```

<br/>

> Create `Student` and `course` table

In [2]:
%%sql
CREATE TABLE student(
    student_id INTEGER PRIMARY KEY AUTOINCREMENT,
    student_name VARCHAR(50) NOT NULL,
    student_email VARCHAR(50),
    student_contact VARCHAR(15)
);


CREATE TABLE course(
    course_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    course_name VARCHAR(50) NOT NULL,
    course_length INTEGER
);

 * sqlite://
Done.
Done.

[]

<br/>

> Add other tables. Feel free to explore!

In [3]:
%%sql
CREATE TABLE enrollment(student_id INTEGER, course_id INTEGER, FOREIGN KEY(student_id) REFERENCES student(student_id) ON DELETE CASCADE ON UPDATE CASCADE, FOREIGN KEY(course_id) REFERENCES course(course_id) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE module(course_id INTEGER, module_num INTEGER, module_name VARCHAR(50) NOT NULL, PRIMARY KEY(course_id,module_num), FOREIGN KEY(course_id) REFERENCES course(course_id) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE unit(course_id INTEGER, module_num INTEGER, unit_num INTEGER, unit_name VARCHAR(50) NOT NULL, time_allotted float, PRIMARY KEY(course_id,module_num,unit_num), FOREIGN KEY(course_id,module_num) REFERENCES module(course_id,module_num) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE chapter(course_id INTEGER, module_num INTEGER, unit_num INTEGER, chapter_num INTEGER, chapter_name VARCHAR(50) NOT NULL, PRIMARY KEY(course_id, module_num, unit_num, chapter_num), FOREIGN KEY(course_id, module_num, unit_num) REFERENCES unit(course_id,module_num, unit_num) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE project(course_id INTEGER, module_num INTEGER, project_title VARCHAR(50) NOT NULL, project_marks INTEGER, FOREIGN KEY(course_id,module_num) REFERENCES module(course_id,module_num) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE assignment(course_id INTEGER,module_num INTEGER,unit_num INTEGER, assignment_name VARCHAR(50) NOT NULL, assignment_marks INTEGER, FOREIGN KEY(course_id, module_num, unit_num) REFERENCES unit(course_id, module_num, unit_num) ON DELETE CASCADE ON UPDATE CASCADE);
CREATE TABLE quiz(course_id INTEGER, module_num INTEGER, unit_num INTEGER, chapter_num INTEGER, num_questions INTEGER, FOREIGN KEY(course_id, module_num, unit_num, chapter_num) REFERENCES chapter(course_id,module_num, unit_num, chapter_num) ON DELETE CASCADE ON UPDATE CASCADE);

 * sqlite://
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

<br/>

>Insert values into `Student` and `Course` table

In [4]:
%%sql
INSERT INTO student ( student_name, student_email)
VALUES ('John Doe', 'john@fusemachines.com'),
('Dummy Person', 'dummy@fusemachines.com'),
('Alison Burgers','alison@fusemachines.com'),
('Harka Bahadur','harke@fusemachines.com.np'),
('Ful Kumari','fulkumari@fusemachines.com.np'),
('Chulbul Pandey','chulbul@fusemachines.com'),
('Bir Kaji Sherchan','birkaji@fusemachines.com.np'),
('Maiya Gauchan','maiya@fusemachines.com.np');

 * sqlite://
8 rows affected.

[]

In [5]:
%%sql
INSERT INTO course (course_name,course_length)
VALUES ('Fundamentals of Computer Science',3),
('Fundamentals of Mathematics',4),
('Machine Learning',5),
('Deep Learning',5),
('Computer Vision',5),
('Natural Language Processing',5);

 * sqlite://
6 rows affected.

[]

In [6]:
%%sql
INSERT INTO enrollment (student_id, course_id) VALUES (1,1),(1,2),(2,1),(3,1),(4,2),(5,1),(6,1),(7,2);
INSERT INTO module(course_id, module_num, module_name) VALUES (1,1,'Introduction to the Course'),(1,2,'Basics of Computer Systems'),(1,3,'Python Programming'),(1,4,'Data Structures and Algorithms'),(1,5,'Database'),(1,6,'Building Applications'),(2,1,'Introduction to the Course'),(2,2,'Linear Algebra'),(2,3,'Calculus'),(2,4,'Probability and Statistics'),(2,5,'Information Theory'),(2,6,'Numerical Computation');
INSERT INTO unit(course_id, module_num, unit_num, unit_name, time_allotted) VALUES (1,1,1,'Introduction to the Course',0.25),(1,1,2,'Introduction to AI',0.5),(1,2,1,'Introduction to the Module',0),(1,2,2,'Digital Information & Digital Logic',1.25),(1,2,3,'Basics Computer Architecture',2),(1,2,4,'Basics of Linux Operating System',1.5),(1,2,5,'Basics of Computer Networks',1.5),(1,2,6,'Module Summary',0),(1,3,1,'Introduction to the Module',0),(1,3,2,'Python Programming',5),(1,3,3,'Object Oriented Programming',4.5),(1,3,4,'Web Scraping',0.75),(1,3,5,'Numpy',2),(1,3,6,'Pandas',2),(1,3,7,'Matplotlib',1),(1,3,8,'Module Summary',0),(2,2,1,'Introduction to the Module',0),(2,2,2,'Scalars Vectors and their operations',1.75),(2,2,3,'Linear transformations and Matrix',1.5),(2,2,4,'Solving Linear Equations',3.75),(2,2,5,'Determinant and Inverses',2.25),(2,2,6,'Orthogonality',2),(2,2,7,'Eigen and Singular Value Decomposition',2.75),(2,2,8,'Module Summary',0),(2,3,1,'Introduction to the Module',0),(2,3,2,'Derivatives',3.25),(2,3,3,'Integrals',2.25),(2,3,4,'Multivariable Calculus',3),(2,3,5,'Optimization of multivariable Functions',2.5),(2,3,6,'Integrals of multivariable functions',2),(2,3,7,'Module Summary',0);
INSERT INTO chapter(course_id, module_num, unit_num, chapter_num, chapter_name) VALUES (1,1,1,1,'Introduction to the Course'),(1,1,1,2,'Course Logistics'),(1,1,2,1,'AI and its applications'),(1,1,2,2,'A Brief History of AI'),(1,1,2,3,'Types of AI'),(1,1,2,4,'Introduction to ML'),(1,2,1,1,'Introduction to the Module'),(1,2,2,1,'Number Representation in computers'),(1,2,2,2,'Digital Information'),(1,2,2,3,'Boolean Operation and algebra');
INSERT INTO project(course_id, module_num, project_title, project_marks) VALUES (2,1,'None',0),(2,2,'3D Reconstruction',200),(2,3,'Shape Optimization',250);
INSERT INTO assignment(course_id, module_num, unit_num, assignment_name, assignment_marks) VALUES (2,2,1,'N/A',0),(2,2,2,'Similarity',60),(2,2,3,'Robotics Forward Kinematics',70),(2,2,4,'Kirchoffs Law: Traffic flow',80),(2,2,5,'Inverse Kinematics',90),(2,2,6,'Least-Squares',100),(2,2,7,'Eigen Faces',110),(2,2,8,'N/A',0),(2,3,1,'N/A',0),(2,3,2,'Robotics Forward Kinematics',60),(2,3,3,'Single variable gradient descent',70),(2,3,4,'Trapezoidal rule',80),(2,3,5,'Image edge detection',90),(2,3,6,'Multi variable gradient descent',100),(2,3,7,'N/A',110);

 * sqlite://
8 rows affected.
12 rows affected.
31 rows affected.
10 rows affected.
3 rows affected.
15 rows affected.

[]

### Exercise 1: Basic Operation with Select Operator

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:**  # List the course name of all courses whose course length is less than 5 months. Store the result of the query in a variable named `result1`.

_**Note:** Use %sql for executing single line SQL query and %%sql for executing multiline SQL query_

<hr/>

In [7]:
# YOUR CODE HERE
result1 =  %sql select course_name from course where course_length < 5;
result1

 * sqlite://
Done.

[('Fundamentals of Computer Science',), ('Fundamentals of Mathematics',)]

In [8]:
### INTENTIONALLY LEFT BLANK

### Exercise 2: String Operation

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:**  Students of fusemachines from Nepal have country domain .np in their email id. Find the name and email of all students from Nepal. Store the result of the query in a variable named `result2`.

<hr/>

In [9]:
# YOUR CODE HERE
result2 = %sql SELECT student_name, student_email FROM student WHERE student_email LIKE '%.np';
result2

 * sqlite://
Done.

[('Harka Bahadur', 'harke@fusemachines.com.np'),
 ('Ful Kumari', 'fulkumari@fusemachines.com.np'),
 ('Bir Kaji Sherchan', 'birkaji@fusemachines.com.np'),
 ('Maiya Gauchan', 'maiya@fusemachines.com.np')]

In [10]:
### INTENTIONALLY LEFT BLANK

### Exercise 3: Query Involving Joins

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:**  List the name of all students who are enrolled in the first course(Fundamentals of Computer Science). Store the result of the query in a variable named `result3`

<hr/>

In [11]:
# YOUR CODE HERE
result3 = %sql SELECT student_name FROM student NATURAL JOIN enrollment WHERE course_id = 1;
result3

 * sqlite://
Done.

[('John Doe',),
 ('Dummy Person',),
 ('Alison Burgers',),
 ('Ful Kumari',),
 ('Chulbul Pandey',)]

In [12]:
### INTENTIONALLY LEFT BLANK

### Exercise 4: Aggregate Functions

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:**  Find the student id and number of course each student is enrolled in. Store the result of the query in a variable named `result4`

In [13]:
# YOUR CODE HERE
result4 = %sql SELECT student_id, COUNT(*) FROM enrollment GROUP BY student_id; 
result4

 * sqlite://
Done.

[(1, 2), (2, 1), (3, 1), (4, 1), (5, 1), (6, 1), (7, 1)]

In [14]:
### INTENTIONALLY LEFT BLANK

### Exercise 5: Nested Query and Aggregate Functions

**<div style="text-align: right">[POINTS: 5]</div>**


**Task:**  List the student id and name of students who are enrolled in more than one course. Store the result of the query in a variable named `result5`

In [15]:
# YOUR CODE HERE
result5 = %sql SELECT student_name FROM student NATURAL JOIN (SELECT student_id, COUNT(*) FROM enrollment GROUP BY student_id HAVING COUNT(*) > 1);
result5

 * sqlite://
Done.

[('John Doe',)]

In [16]:
### INTENTIONALLY LEFT BLANK

### Exercise 6: Queries with Set-Comparision Operators

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:**  List out the name and marks of all assignments whose total marks is greater than average marks of assignments.  Store the result of the query in a variable named `result6`.

**Note:** Also take care of the case where assignment mark = 0

In [17]:
# YOUR CODE HERE
result6 = %sql SELECT assignment.assignment_name, assignment.assignment_marks FROM assignment WHERE assignment.assignment_marks > (SELECT avg(assignment_marks) FROM assignment WHERE assignment_marks != 0)
result6

 * sqlite://
Done.

[('Inverse Kinematics', 90),
 ('Least-Squares', 100),
 ('Eigen Faces', 110),
 ('Image edge detection', 90),
 ('Multi variable gradient descent', 100),
 ('N/A', 110)]

In [18]:
### INTENTIONALLY LEFT BLANK

### Exercise 7: The GROUP BY clause

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:** List module number and total time allotted(as alias total_time_allotted) for each module of the first course. Store the result of the query in a variable named `result7`.

In [19]:
# YOUR CODE HERE
result7 = %sql SELECT module_num, SUM(time_allotted) AS total_time_allotted FROM unit WHERE course_id = 1 GROUP BY module_num;
result7

 * sqlite://
Done.

[(1, 0.75), (2, 6.25), (3, 15.25)]

In [20]:
### INTENTIONALLY LEFT BLANK

### Exercise 8: Additional Information using JOINs

**<div style="text-align: right">[POINTS: 10]</div>**

**Task:** List the module name and total time allotted(as alias total_time_allotted) for each module of the first course. Store the result of the query in a variable named `result8`.

In [21]:
# YOUR CODE HERE
result8 = %sql SELECT module_name, sum(time_allotted) as total_time_alloted FROM module NATURAL JOIN unit WHERE course_id =1 GROUP BY module_num;
result8

 * sqlite://
Done.

[('Introduction to the Course', 0.75),
 ('Basics of Computer Systems', 6.25),
 ('Python Programming', 15.25)]

In [22]:
### INTENTIONALLY LEFT BLANK