# Project: Python Programming

**<div style="text-align: right">[TOTAL POINTS: 60]</div>**

In this project, you will learn to apply all the skills that you have learnt in this module. Your objective is to scrape data from the web, combine it with data you have, and clean it. These skills will be essential for machine learning.

## Exercise 1: Importing necessary modules

**<div style="text-align: right">[POINTS: 5]</div>**

Import all the necessary modules here. In particular, you will need to import NumPy, BeautifulSoup, Pandas, Pyplot from Matplotlib, and Requests in order to pass this exercise.

In [ ]:
!pip install bs4
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
### INTENTIONALLY LEFT BLANK

## Exercise 2: Reading the datasets

**<div style="text-align: right">[POINTS: 5]</div>**

There are two datasets in the paths `CSV1_PATH` and `CSV2_PATH` as CSV files.

**Task:** Read the dataset from the two files using pandas and assign the resulting dataframes to the variables `df1` and `df2` respectively.

In [ ]:
CSV1_PATH = 'https://storage.googleapis.com/codehub-data/5-P-3-student_1.csv'
CSV2_PATH = 'https://storage.googleapis.com/codehub-data/5-P-3-student_2.csv'

df1 = None
df2 = None

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert df1 is not None
assert df2 is not None

## Exercise 3: Explore the data

**<div style="text-align: right">[POINTS: 0]</div>**

Look at the dataframes. Visualize the data using matplotlib.  Explore and get familiar with them. A small example of visualization using matplotlib and numpy is given below. You can explore other posiblities.

In [ ]:
# Obtain email_names
email_adresses= df2["email"].str.split("@", n = 1, expand = False)
email_names = np.array([ename for ename, _ in email_adresses])

y_pos = np.arange(len(email_names))
# numpy nan_to_num converts NaN to 0
np_gpa = np.nan_to_num(np.array(df2['hs_gpa']))

plt.figure(figsize=[10,8])
plt.bar(y_pos, np_gpa, align='center', alpha=0.5)
plt.xticks(y_pos, email_names)
plt.ylabel('GPA')
plt.xlabel('Student')
plt.title('GPA scored')

## Exercise 4: Merge the datasets

**<div style="text-align: right">[POINTS: 10]</div>**

Join the two datasets `df1` and `df1` column wise. Keep `df1` on the left. Do not throw away any data. Join them accroding to their `id`. Store the resulting dataframe in the variable `data`.

In [ ]:
data = None

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert data is not None

## Exercise 5: Cleaning the dataset 

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:** Delete all the columns that have all column values as NaN. Assign the resulting dataframe to the variable `data_cleaned`. You can use the [drop method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) for dataframes. 

*Notes:* 
- Remember that it is an important skill to be able to read documentation for code, and figure out how to do things. 
- We are not using the `.dropna()` method, because it will drop all columns that have any NaNs, We want to drop specific ones. 
- You can use `df.isnull().sum()` to find number of NaN in each column
- You have to set `axis=1` to drop columns instead of rows.

In [ ]:
data_cleaned = None
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert data_cleaned is not None

## Exercise 6: Fill NaN values for categorical features

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:** Inspect which categorical feature has NaN values on it.  Fill those missing values with the mode of the column. Assign this new dataframe to the variable `data_cleaned_categorical`.

**Hints**
- There is only one column that you will need to change
- Categorical features are usually strings
- Be careful not to replace NaN values on other columns, and replace just this single column

In [ ]:
data_cleaned_categorical = None
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert data_cleaned_categorical is not None

## Exercise 7: Fill NaN values for numerical features

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:** Fill the NaN values in the rest of the column using the mean of their respective columns. You can use the `fillna()` method to fill all the remaining numerical features. Assign this dataframe to the variable `data_cleaned_final`.

In [ ]:
data_cleaned_final = None
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert data_cleaned_final is not None

# Web scraping

In this section, you will practice scraping websites. You will get the names of all books in a page and then append one book to each student in the dataframe from the previous exercise.

## Exercise 8: Sending a request

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:** The website we want to extract names from is at `BOOKS_URL`. Send a GET request to this website, and assign the result to the variable `page`.

In [ ]:
BOOKS_URL = 'http://books.toscrape.com/catalogue/category/books/science_22/index.html'
page = None

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert page is not None

## Exercise 9: Explore the data

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:** Take the HTML from the `page` object and form a BeautifulSoup object out of it. Assign this object to the variable `soup`. Explore the HTML data in this object.

In [ ]:
soup = None

# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert soup is not None

## Exercise 10: Extract the data

**<div style="text-align: right">[POINTS: 10]</div>**

**Task:** There are 14 names of books on the website. Extract them into a list called `names`. 

**Hint:** The names are inside `<img>` tags with the class `"thumbnail"`, in the `alt` field. You can access fields inside a tag by using a command like `img['alt']`. This will output whatever string is in the tag.

In [ ]:
names = []
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert len(names) > 0

## Exercise 11: Insert book names into `data_cleaned_final`

**<div style="text-align: right">[POINTS: 5]</div>**

**Task:** There are 9 students in the `data_cleaned_final` dataframe. You should have 14 book names in the `names` list from the previous exercise. Choose any 9 books that you want, and put them into a new column named `books`  in a copy of the `data_cleaned_final` dataframe. Name this copied dataframe `books_and_students`.

In [ ]:
books_and_students = data_cleaned_final.copy()
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert books_and_students is not None